.container {
    margin: 0;
  }
  .container_input {
    margin: 0;
    position: relative;
    height: 72px;
  }
  .container_input .label {
    opacity: 1;
    position: absolute;
    top: 34%;
    left: 4%;
    transition: 0.3s ease;
    user-select: none;
    cursor: text;
    font-family: var(--Archivo);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .container_input .input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 15px 15px 0px 15px;
    border: 1px solid #EAE9F7;
    border-radius: 4px;
    font-family: var(--Archivo);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
  }
  .container_input .input:focus {
    border: 1px solid #0171C9;
  }
  .container_input .label.focus,
  .container_input:focus-within .label {
    font-family: var(--Archivo);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;
    color: #18181b;
    opacity: 1;
    top: 8px;
    font-size: 12px;
    background-color: #ffffff;
    padding: 0 5px;
  }
  