.Container {
    background: linear-gradient(to bottom, #D0E4F2, #9799f7 );
}

.button{
    background: linear-gradient(100deg, #9747FF, #0171C9);
    color: white;
    border-radius: 4px;
    width: 214px;
    height: 61px;
    padding: 10px;
    font-weight: bold;
}
.headerGradient{
    background: linear-gradient(to right, #9747FF, #0171C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.reviewContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: fit-content;
    padding: 10px;
    height: 380px;
    position: relative;
    overflow: hidden;
}



@media (max-width: 786px){
    .review{
        height: 350px;
        flex-direction: row;
        width: 100%;
    }
    .review::before{
        display: none;
    }
}