@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

.container {
  margin: 10px 0;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .container {
    width: 90%;
  }
}
.header {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.container .header h1 {
  font-family: var(--Archivo);
  font-size: 32px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #18181b;
}

@media screen and (max-width: 400px) {
  .container .header h1 {
    font-size: 24px;
  }
}

.Table {
  margin-top: 10px;
  width: calc(100% - 40px);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

.TableHead {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.TableHeadLeft,
.TableHeadRight {
  display: flex;
  justify-content: space-between;
}

.TableHeadLeft > * {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.TableHeadRight > * {
  display: flex;
  align-items: center;
  gap: 5px;
}

.TableContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
