.Form {
  height: 60px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-x: hidden;
  cursor: pointer;
}

/* .Form:active {
      outline: 1px solid #70a0ff;22499b
    } */

.Label {
  transition: all 0.3s ease-in-out;
  margin-left: 7px;
  color: black;
  cursor: pointer;
  position: absolute;
  font-weight: 400;
  padding: 0px 5px;
  background-color: white;
  backdrop-filter: blur(555px);
  line-height: 11px;
}

.FormGroup {
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  flex-grow: 1;
}

.FormInput {
  width: calc(100% - 8px);
  height: 100%;
  margin-left: -1px;
  cursor: default;
  background-color: transparent;
  border-color: transparent;
}

.FormInput[type="text"] {
  font-size: 16px;
}
