.container {
  margin: 25px 0;
}
.container_input {
  margin: 10px 0;
  position: relative;
  height: 72px;
}
.container_input .label {
  opacity: 0.8;
  position: absolute;
  top: 34%;
  left: 4%;
  transition: 0.3s ease;
  user-select: none;
  cursor: text;
  font-family: var(--Archivo);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: left;
}

.Verify {
  margin: 0 auto;
  width: max-content;
  margin-bottom: -10px;
  opacity: 0.7;
  font-weight: 400;
}

.container_input .input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 15px 15px 0px 15px;
  border: 1px solid #18181b;
  border-radius: 4px;
  font-family: var(--Archivo);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
}
.container_input .input:focus {
  border: 2px solid rgb(18, 18, 204);
}
.container_input .label.focus,
.container_input:focus-within .label {
  font-family: var(--Archivo);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: left;
  color: #18181b;
  opacity: 1;
  top: 8px;
  font-size: 12px;
  padding: 0 0px;
}
